# Python Basic Assignment
## Assignment_4

### 1. What exactly is [ ]?

This indicates an empty list with no items inside

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
# First way
spam = [2,4,6,8,10]

spam[2] = 'hello'
print(spam)

[2, 4, 'hello', 8, 10]

In [2]:
# Second way
spam = [2,4,6,8,10]

spam.insert(2,'hello')
print(spam)

[2, 4, 'hello', 6, 8, 10]

### Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [10]:
spam = ['a','b','c','d']

In [9]:
spam[int(int('3' * 2) / 11)]

'd'

In [5]:
int(int('3' * 2)) # this makes string '3' replicate twice, and so becomes string '33' which is then type casted to integer

33

In [6]:
int(int('3' * 2) / 11) # 33/11 will be 3

3

In [7]:
spam[3] # spam of 3 is 'd'

'd'

### 4. What is the value of spam[-1]?

In [11]:
spam[-1] # this starts counting from the end of the list

'd'

### 5. What is the value of spam[:2]?

In [12]:
spam[:2] # this slices the items starting from 0 till 2 but not including the 2nd index

['a', 'b']

### Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

### 6. What is the value of bacon.index(&#39;cat&#39;)?

In [17]:
bacon = [3.14, 'cat', 11, 'cat', True]

In [16]:
bacon.index('cat') # this show the index of first occuring mentioned string 'cat'

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

In [18]:
bacon.append(99)

In [19]:
bacon # here we can see that the the integer 99 is added to the end of the bacon list

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [20]:
bacon.remove('cat')

In [21]:
bacon # here the first occurence of the string 'cat' is removed

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

In [23]:
[1,2,3,4] + [5,6,7,8] + [9,10,11,12] # '+' is the list concatenation operator which joins the lists

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
[1,2,3,4] * 3 # '*' is the list replication operator which replicates the list by the times we have mentioned

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### 10. What is difference between the list methods append() and insert()?

append() will add items to the end of the list while using insert() we can insert item values at any index we wish to add

In [26]:
l = [1,2,3,4]
l.append(5) # here value is appended at the last in the list
l

[1, 2, 3, 4, 5]

In [27]:
l = [1,2,3,4]
l.insert(2,'test') # hee the value is inserted at the 2nd index of the list
l

[1, 2, 'test', 3, 4]

### 11. What are the two methods for removing items from a list?

The two methods to remove items from a list are del statement and the remove()

In [31]:
l = [1,2,3,4]
del l[1] # here we give the index of the item to be deleted
l

[1, 3, 4]

In [ ]:
l = [1,2,3,4]
l.remove(2) # here we give the value of the item to be removed
l

### 12. Describe how list values and string values are identical.

#### 1. Slicing operations can be done on both lists and strings

In [35]:
l = [1,2,3,4]
l[1:3]

[2, 3]

In [36]:
s = 'string'
s[1:3]

'tr'

#### 2. Indexing can be done on both lists and strings

In [37]:
l = [1,2,3,4]
l[1]

2

In [38]:
s = 'string'
s[1]

't'

#### 3. Length of the list and string can be found by len() function

In [39]:
l = [1,2,3,4]
len(l)

4

In [40]:
s = 'string'
len(s)

6

#### 4. Both list and string can be concatenated using '+' operator

In [41]:
[1,2,3,4] + [5,6,7,8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
'string' + 'concatenate'

'stringconcatenate'

#### 5. Both list and string can be replicated using '*' operator

In [43]:
[1,2,3,4]*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [44]:
'string'*3

'stringstringstring'

#### 6. in and not in operators can be used on both lists and strings

In [45]:
l = [1,2,3,4]
1 in l

True

In [49]:
s = 'string'
't' in s

True

#### 7. Both list ans string can be used in loops

In [50]:
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [51]:
s = 'string'
for i in s:
    print(i)

s
t
r
i
n
g

### 13. What&#39;s the difference between tuples and lists?

The main difference between a tuple and a list is that List is mutable, that means values can be added, modified, removed, where as tuple is immutable that means once a tuple is created we can't add,modify or remove values inside a tuple.

list is denoted by [ ], where as tuple is denoted by ()

### 14. How do you type a tuple value that only contains the integer 42?

In [52]:
tu = (42,) # we and a comma(,) after 42

In [53]:
type(tu)

tuple

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [60]:
l = [1,2,3,4]
tu = tuple(l)#here we are getting list of vaues as tuple form
print(type(tu))
print(tu)

<class 'tuple'>
(1, 2, 3, 4)

In [61]:
tu = (1,2,3,4)
l = list(tu)# here we are getting tuple values in list form
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

They refer to the values in the list.

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

The difference between shallow and deep copying is only relevant for compound objects (objects that contain other objects, like lists or class instances):

#### Shallow copy copy.copy()
A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

#### Deep copy copy.deepcopy()
A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [62]:
l = [1,2,3,[4,5,6]]
type(l[3])

list

In [75]:
l1 = [1,2,3,4]
l2 = l1

In [76]:
l2[1] = 100

In [77]:
l2,l1 # here both lists l2 and l1 are getting changed, even though we havent modifed list l1

([1, 100, 3, 4], [1, 100, 3, 4])

#### Shallow copy

In [82]:
l1 = [1,2,3,4]
l2 = l1.copy() #Shallow Copy

In [83]:
l2[1] = 100

In [84]:
l2 #Here only l2 list is modified, even though its a copy of list l

[1, 100, 3, 4]

In [85]:
l1 # list l vaues have not changed here

[1, 2, 3, 4]

In [91]:
l1 = [[1,2,3,4],[5,6,7,8]]
l2 = l1.copy()

In [92]:
l1[1][0] = 100

In [93]:
l1,l2 # even though shallow copy is used, when its nested list shallow copy is not working, as bot li and l2 are
      # getting modified when only one of the list is modified

([[1, 2, 3, 4], [100, 6, 7, 8]], [[1, 2, 3, 4], [100, 6, 7, 8]])

#### Deep copy

In [94]:
import copy
l1 = [[1,2,3,4],[5,6,7,8]]
l2 = copy.deepcopy(l1) # Deep copy

In [95]:
l1[1][0] = 100

In [96]:
l1,l2 #Here even when we modify the value inside the nested list l1, it only modifies in list li and not in list l2

([[1, 2, 3, 4], [100, 6, 7, 8]], [[1, 2, 3, 4], [5, 6, 7, 8]])