# Python Basic Assignment
## Assignment_20

### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
import os

test1 = open(os.getcwd()+'\\'+'test.txt',mode = 'w+') 
test1.write('This is a test of the emergency text system')

43

In [9]:
test1.read()

'This is a test of the emergency text system'

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [6]:
test2 = test1.read()

In [7]:
test2

'This is a test of the emergency text system'

### 3. Create a CSV file called books.csv by using these lines:
### title,author,year
### The Weirdstone of Brisingamen,Alan Garner,1960
### Perdido Street Station,China Miéville,2000
### Thud!,Terry Pratchett,2005
### The Spellman Files,Lisa Lutz,2007
### Small Gods,Terry Pratchett,1992

In [1]:
import csv

In [3]:
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["title", "author", "year"])
    writer.writerow(["The Weirdstone of Brisingamen", "Alan Garner", 1960])
    writer.writerow(["Perdido Street Station", "China Miéville", 2000])
    writer.writerow(["Thud!", "Terry Pratchett", 2005])
    writer.writerow(["The Spellman Files", "Lisa Lutz", 2007])
    writer.writerow(["Small Gods", "Terry Pratchett", 1992])

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3

In [11]:
conn = sqlite3.connect('book')

In [12]:
conn.execute('drop table if exists books')

In [13]:
conn.execute('create table books(title text,author text,year int)')

### 5. Read books.csv and insert its data into the book table.

In [14]:
import csv
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['title', 'author', 'year']
['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
['Perdido Street Station', 'China Miéville', '2000']
['Thud!', 'Terry Pratchett', '2005']
['The Spellman Files', 'Lisa Lutz', '2007']
['Small Gods', 'Terry Pratchett', '1992']

In [15]:
import csv, sqlite3

con = sqlite3.connect("book") # change to 'sqlite:///your_filename.db'
cur = con.cursor()
#cur.execute("CREATE TABLE t (col1, col2);") # use your column names here

with open('books.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['title'], i['author'],i['year']) for i in dr]

cur.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?);", to_db)
con.commit()
con.close()

### 6. Select and print the title column from the book table in alphabetical order.

In [21]:
list(conn.execute("select title from books order by title"))

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [22]:
list(conn.execute("select * from books order by year"))

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]