# Python Basic Assignment
## Assignment_1

### 1. What are the differences between operators and values in the following?

Here the operators are +, -, *, and /. The values are 'hello', -88.8, and 5.

Operators are special characters or symbols which perform Arithmetic operations on Integers, floats and other numerical values. For example '+' operator performs Additon, '-' performs Subtraction, '*' performs Multiplication and '/' performs Division. 

Whereas Values can be strings,floats,integers whcih can be assigned to any variables. '+' operator can also be used for String, List concatenation and '*' can be used for String Multiplication. Here in this example 'hello' is a string type value,-87.8 is a float type value and 6 is a integer value.

### 2. What is the difference between string and variable?

Variables are Memory locations which can store values(String,integer and Float values). Whereas Strings are data types which can be stored inside a variable. Here in this example 'spam' is a string denoted between single or double quotes, and spam is the Variable name which can hold values inside of it

### 3. Describe three different data forms.

The three data types are Strings, Integers and Floating Point numbers. Strings are nothing but an array/sequence of alpha numeric values and special characters denoted between single or double quotes. Integers are positive and negative Numerical values. Floating point numbers are the decimal numbers or fraction numbers.
There are other Data types such as Complex numbers,Boolean and few more.

### 4. What makes up an expression? What are the functions of all expressions?

There are three kinds of expressions: An arithmetic expression evaluates to a single arithmetic value. A character expression evaluates to a single value of type character. A logical expression evaluates to a single logical value.
Operators designate that some sort of computation should be performed. The values that an operator acts on are called operands. A sequence of operands and operators, like x + y + 8 , is called an expression.

### 5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

An expression evaluates to a value. Expression is a combination of variables, operations and values that yields a result value

A declaration of a variable is where a program says that it needs a variable. The declaration gives a name and a data type for the variable. A variable cannot be used in a program unless it has been declared. if the variable name in this case spam is not declared we get an undefined error.

### 6. After running the following code, what does the variable bacon contain?
    bacon = 22
    bacon + 1

In [35]:
bacon = 22
bacon + 1

23

In [37]:
print(bacon)

22

In [38]:
print(bacon) # The bacon variable contains the value 22, and not 23 as bacon+1 does not reassign value in bacon

22

In [7]:
bacon = bacon + 1 # whereas assigning bacon + 1 value to a bacon variable gives value as 23

In [8]:
print(bacon)

23

### 7. What should the values of the following two terms be?

    'spam'+'spamspam'
    
    'spam'*3

In [12]:
print('spam'+'spamspam')

spamspamspam

In [13]:
print('spam'*3)

spamspamspam

### 8. Why is it that eggs is a true variable name but 100 is not?

Here in this example Variable name should not start with an integer, it can start with alphabet, and that is why eggs as a variable name is correct and 100 is not

### 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

We can use int() to covert a value to an integer, str() to convert a value to a string and float() to convert a value to a floating point number

In [21]:
c = '34'
print(type(c))
print(c)

<class 'str'>
34

In [22]:
d = int(c)
print(type(d)) # here we are using int() function to convert string into an integer
print(d)

<class 'int'>
34

In [23]:
e = 34
print(type(e))
print(e)

<class 'int'>
34

In [24]:
f = str(e) # here we are using str() function to convert integer into a string
print(type(f)) 
print(f)

<class 'str'>
34

In [25]:
g = 34
print(type(g))
print(g)

<class 'int'>
34

In [26]:
h = float(g) #here we are using float() function to convert integer to a floating point number
print(type(h))
print(h)

<class 'float'>
34.0

In [27]:
i = '34'
print(type(i))
print(i)

<class 'str'>
34

In [28]:
j = float(i) # here we are using float() function to convert string to a floating point number
print(type(j))
print(j)

<class 'float'>
34.0

### 10. What is the error caused by this expression? What would you do about it?

'I have eaten'+99+'burritos'

In [30]:
'I have eaten'+99+'burritos' 
# Here we get a Type Error because we are trying to concatenate string with a integer
# only strings can be concatenated to other strings with the + operator

TypeError: can only concatenate str (not "int") to str

In [34]:
# we can solve this error by converting 99 into a string by using str() function
'I have eaten'+ str(99) + 'burritos'

'I have eaten99burritos'