In [ ]:
# Python supports Dynamic Typing or Dynamic Programming which means Python by default can understand
# which is a String,Integer,Float etc...

In [1]:
print("This is Python Programming")

This is Python Programming

In [2]:
a,b,c = 10,"shashank",'Hello'

In [3]:
a

10

In [4]:
b

'shashank'

In [5]:
c

'Hello'

In [8]:
testt = a,b,c

In [7]:
print(a,b,c)

10 shashank Hello

In [9]:
type(testt)

tuple

In [10]:
True + True + True + False + True

4

In [11]:
False - True + True

0

In [12]:
1+1

2

In [13]:
True / False

ZeroDivisionError: division by zero

In [14]:
n = 46 + 6j # This is a complex number, complex number = Real Number + Imaginary number
            # Imaginary number can only be denoted by 'j' not any other alphabet or character

In [15]:
n

(46+6j)

In [16]:
type(n)

complex

In [17]:
n.real

46.0

In [18]:
n.imag

6.0

In [19]:
m = 34 + 4j

In [21]:
p = n + m # adding complex numbers

In [22]:
p

(80+10j)

In [23]:
p.real

80.0

In [24]:
p.imag

10.0

In [25]:
1 + 'Shashank'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
d = 'sha'+'sha'

In [27]:
d

'shasha'

In [29]:
s = str(1)+'shashank'

In [30]:
s

'1shashank'

In [31]:
type(s)

str

In [32]:
e = "1"+"shashank" # This is Strong Typing where in we are representing integer as a string by including it between 
                   # the quotes

In [33]:
e

'1shashank'

In [39]:
# Conctination Operation (adding strings)
d = 'sha'+'sha'+'sha'
e = "1"+"shashank"
f = 'sha' *3
print(d)
print(e)
print(f)

shashasha
1shashank
shashasha

In [35]:
z = 1 + 1.1

In [36]:
z # The addition of integer and float output is being converted to a Float, This is called Upcasting

2.1

In [40]:
a = input() # here we are taking input manually or through the console from the user

12

In [41]:
a

'12'

In [42]:
b = input("Enter an integer: ")

Enter an integer: 12

In [43]:
b

'12'

In [44]:
type(b) # Even though we have given an integer we get type as str in input()

str

In [77]:
# This way whatever the value we enter gets converted to an integer not a string
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))
c = int(input("Enter value of c: "))

Enter value of a: 12
Enter value of b: 10
Enter value of c: 6

In [85]:
a,b,c

(12, 10, 6)

In [78]:
d = (a+b)/c

In [79]:
d

3.6666666666666665

In [80]:
e = 10 + 4j

In [81]:
f = d + e

In [82]:
f

(13.666666666666666+4j)

In [86]:
type(f)

complex

In [83]:
g = str(f) + "shashank" #converting to string is called TypeCasting, that is changing its type to a string

In [84]:
g

'(13.666666666666666+4j)shashank'

# Conditional Statements

In [91]:
a = int(input("Enter a number less than 34: "))
if a<34:
    pass

Enter a number less than 34: 32

In [93]:
a = int(input("Enter a number less than 34: "))
if a<34:
    print("Number is less than 34")

Enter a number less than 34: 35

In [94]:
a = int(input("Enter a number less than 34: "))
if a<34:
    print("Number is less than 34")

Enter a number less than 34: 32
Number is less than 34

In [113]:
salary = int(input("Enter your Salary: "))

if salary >= 10000:
    pass
    if salary < 15000:
        print("Buy a used Car")
    elif salary > 15000:
        print("Buy a new Car")
    else:
        print("Dont buy a car")
elif salary >= 5000:
    print("Buy a bike")
else:
    print("Start Saving")

Enter your Salary: 4990
Start Saving

In [129]:
a = 10
b = 20

a == 10 and b == 20

True

In [125]:
# AND Condition
review = int(input("Enter the movie Review between 0-10: "))

if review <= 1:
    print("POOR")
elif review > 1 and review <= 3:
    print('BAD')
elif review > 3 and review <=6:
    print('AVERAGE')
elif review >6 and review <= 8:
    print('GOOD')
elif review > 8 and review <=10:
    print('VERY GOOD')
else:
    pass

Enter the movie Review between 0-10: 0
POOR

In [133]:
a = 10
b = 20

a == 10 or b == 21

True

In [152]:
# using OR Condition
movie = input('Enter movie review as good or bad: ')
theater_condition = input('Enter theater condition as good or bad: ')

if movie == 'good' and theater_condition == 'good':
    print('Definitely Will go watch a movie')
elif movie == 'bad' and theater_condition == 'bad':
    print('Definitely will not go watch a movie')
elif movie == 'bad' or theater_condition == 'good':
    print('Will not go watch a movie')
elif movie == 'good' or theater_condition == 'bad':
    print('Might go watch a movie')
else:
    print('Type good or bad and nothing else')

Enter movie review as good or bad: good
Enter theater condition as good or bad: bad
Might go watch a movie